<h1>Blockchain</h1>
<% @blockchain.each do | block | %>
    <ul>
        <li><%= block.index%></li>
        <li><%= block.timestamp%></li>
        <li><%= block.previous_hash%></li>
        <li><%= block.created_at%></li>
        <li><%= block.transactions_count%></li>
        <li><%= block.transactions_hash%></li>
        <li><%= block.nonce%></li>
        <li><%= block.hash%></li>
    </ul>
<% end %>