<h1>Blockchain</h1>

<% @blockchain.each do | block | %>
    
    <div class="row">
        <div class="col s4">
            <ul>
                <li><b>Index:</b> <%= block.index%></li>
                <li><b>Timestamp: </b><%= block.created_at%></li>
                <li><b>Previous_hash: </b><%= block.previous_hash%></li>
                <li><b>Created_at: </b><%= block.created_at%></li>
                <li><b>Transaction_count: </b><%= block.transaction_count%></li>
                <li><b>Transactions_hash: </b><%= block.transactions_hash%></li>
                <li><b>Nonce: </b><%= block.nonce%></li>
                <li><b>Hash_id: </b><%= block.hash_id%></li>
            </ul>
        </div>
        <div class="col s4">

        <% transactions = transactions_web(block.hash_id) %>
            <% transactions.each do | transaction | %>
                <li><b>De: </b><%= transaction.from%></li>
                <li><b>Para: </b><%= transaction.to%></li>
                <li><b>Quem: </b><%= transaction.what%></li>
                <li><b>Valor: </b><%= transaction.qty%></li>
                <li><b>Grupo: </b><%= transaction.block.group%></li>
            <% end %>
        </div>

        <div class="col s4">
            <% qrcode = qrcode(block.hash_id) %>
            <%= image_tag qrcode %>
        </div>
        
    </div>
<% end %>