<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card" style="margin-top:20px; margin-bottom: 20px;">
      <div class="card-header text-center" style="background:#ffd959;">
        <h5 class="card-title">Cadastro de Queijo</h5>
      </div>
      <div class="card-body" style="background:#ffd959;">

        <%= form_for @blockchain do |f| %>
        <div class="row ">

          <div class="col-md-6 mx-auto">
            <div class="form-group">
              <%= f.label "Fabricação" %>
              <%= f.text_field :fabricacao, required: true, class: "form-control", :placeholder => "Data de Fabricação"%>
            </div>
          </div>

          <div class="col-md-6 mx-auto">
            <div class="form-group">
              <%= f.label "Validade" %>
              <%= f.text_field :validade, required: true, class: "form-control", :placeholder => "validade"%>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-md-6 mx-auto">
            <div class="form-group">
              <%= f.label "Tipo" %>
              <%= f.text_field :tipo, required: true, class: "form-control", :placeholder => "Tipo do queijo"%>
            </div>
          </div>

          <div class="col-md-6 mx-auto">
            <div class="form-group">
              <%= f.label "Empresa" %>
              <%= f.text_field :empresa, required: true, class: "form-control", :placeholder => "Empresa Responsável  "%>
            </div>
          </div>
        </div>

        <div class="row ">

          <div class="col-md-5">
            <div class="form-group">
              <%= f.label "CEP" %>
              <%= f.text_field :cep, required: true, class: "form-control", :placeholder => "CEP"%>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <%= f.label "Cidade" %>
              <%= f.text_field :cidade, required: true, class: "form-control", :placeholder => "Cidade"%>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <%= f.label "Estado" %>
              <%= f.text_field :uf, required: true, class: "form-control", :placeholder => "Estado"%>
            </div>
          </div>

        </div>

          <div class="row ">

            <div class="col-md-5">
              <div class="form-group">
                <%= f.label "Bairro" %>
                <%= f.text_field :bairro, required: true, class: "form-control", :placeholder => "Bairro"%>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <%= f.label "Rua" %>
                <%= f.text_field :rua, required: true, class: "form-control", :placeholder => "Rua"%>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <%= f.label "Número" %>
                <%= f.text_field :numero, required: true, class: "form-control", :placeholder => "Número"%>
              </div>
            </div>

          </div>

        <%= f.submit 'Salvar', class: " button btn btn-primary float-right" %>

        <%end%>

      </div>
    </div>
  </div>
</div>